html {
  font-family: 'Fira Sans';
}

body {
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
}

.complexes {
  background: url('./img/background.png') 20px 10px / 20px 10px;
  background-size: 1.25rem 0.625rem;
  background-color: #EAEBF0;
}
